<%- include('header') %>

            <form method="GET" action="/cotacao">
                <div class="form-group">
                    <input class="form-control" name="cotacao" type="text" placeholder="Cotacao dolar" value="<%= cotacao %>"><br>
                    <input class="form-control" name="quantidade" type="text" placeholder="Quantidade de dolares"><br>
                    <button class="btn btn-outline-secondary btn-block">Converter!</button>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<%- include('footer') %>